.intro__lead {
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 0 75px 10px;
	background-image: url('../../../vendor/images/intro-desktop.jpg');
	background-size: cover;
	border-radius: 60px;
	aspect-ratio: 1.69 / 1;
}

@media screen and (max-width: 992px) {
	.intro__lead {
		background-image: url('../../../vendor/images/intro-tablet.jpg');
		aspect-ratio: 248 / 351;
	}
}

@media screen and (max-width: 768px) {
	.intro__lead {
		border-radius: 50px;
	}
}


@media screen and (max-width: 570px) {
	.intro__lead {
		padding: 0;
	}
}

@media screen and (max-width: 480px) {
	.intro__lead {
		background-image: url('../../../vendor/images/intro-mobile.jpg');
		border-radius: 40px;
		aspect-ratio: 40 / 71;
	}
}

@media screen and (max-width: 430px) {
	.intro__lead {
		background-image: url('../../../vendor/images/intro-mobile-2.jpg');
		aspect-ratio: 160 / 373;
	}
}
