.why-like__item_back_podhod {
	background-image: url('../../../../vendor/images/podhod.jpg');
	background-position: 50% 50%;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	.why-like__item_back_podhod {
		background-image: url('../../../../vendor/images/podhod_ipad.png');
	}
}

@media screen and (max-width: 480px) {
	.why-like__item_back_podhod {
		background-image: url('../../../../vendor/images/podhod_iphone.png');
	}
}
