.section-title_type_parents {
  margin-top: -400px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
    .section-title_type_parents {
        margin-top: -300px;
    }
  }

  @media screen and (max-width: 1000px) {
    .section-title_type_parents {
        font-size: 48px;
        line-height: 59px;
        margin-top: -200px;
    }
  }

  @media screen and (max-width: 900px) {
    .section-title_type_parents {
        margin-top: -100px;
    }
  }

  @media screen and (max-width: 744px) {
    .section-title_type_parents {
        margin-top: -100px;
    }
  }