/* @media screen and (max-width: 1080px) {
	.section-title_type_about {
		max-width: 595px;
		margin: 0 auto;
		font-size: 48px;
	}
}

@media screen and (max-width: 600px) {
	.section-title_type_about {
		font-size: 36px;
		line-height: 44px;
	}
} */
