.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #252525;
	border-radius: 50px;
}

.button:hover {
	background-color: #333333;
	animation: cycle 2s ease-in-out forwards;
}

.button:active {
	border: 0;
}

@keyframes cycle {
	0% {
		transform: rotate(0) translate(0, 0);
	}

	20% {
		transform: rotate(2deg) translate(0, -2px);
	}

	40% {
		transform: rotate(-2deg) translate(0, -2px);
	}

	60% {
		transform: rotate(2deg) translate(0, -2px);
	}

	80% {
		transform: rotate(-2deg) translate(0, -2px);
	}

	100% {
		transform: rotate(0) translate(0, -2px);
	}
}
