.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #252525;
	border-radius: 50px;
}

.button:hover {
	background-color: #353535;
	animation: swing 2s ease-in-out forwards;
}

.button:active {
	border: 0;
}

@keyframes swing {
	0% {
		transform: rotate(0);
	}

	20% {
		transform: rotate(1deg);
	}

	40% {
		transform: rotate(-1deg);
	}

	60% {
		transform: rotate(1deg);
	}

	80% {
		transform: rotate(-1deg);
	}

	100% {
		transform: rotate(0);
	}
}
