.partners__partner-item {
	display: block;
	overflow: hidden;
	cursor: pointer;
	will-change: transform;
	transition: transform 0.9s ease-in-out;
}

.partners__partner-item:hover {
	transform: scale(1.11);
}
