.partners__partner-item {
	display: block;
	cursor: pointer;
	overflow: hidden;
	will-change: transform;
	transition: transform 0.4s ease-in-out;
}

.partners__partner-item:hover {
	transform: scale(1.1);
}
