.footer__info-text {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

@media all and (max-width: 744px) {
	.footer__info-text {
		text-align: center;
	}
}

@media all and (max-width: 480px) {
	.footer__info-text {
		text-align: start;
	}
}
