.principles__pic_complex_bottom {
	min-width: 420px;
	min-height: 210px;
	background-image: url('../../../../vendor/images/Investing.jpg');
	background-position: bottom;
	border-radius: 300px;
	aspect-ratio: 2;
}

@media screen and (max-width: 480px) {
	.principles__pic_complex_bottom {
		min-width: 230px;
		max-width: 230px;
		min-height: 115px;
		max-height: 115px;
		background-size: cover;
	}
}
