.popup-place__image {
	max-width: 900px;
	pointer-events: none;
}


@media screen and (max-width: 1100px) {
	.popup-place__image {
		width: 707px;
	}
}

@media screen and (max-width: 800px) {
	.popup-place__image {
		width: 594px;
	}
}

@media all and (max-width: 650px) {
	.popup-place__image {
		width: 418px;
	}
}

@media all and (max-width: 500px) {
	.popup-place__image {
		width: 321px;
	}
}


@media all and (max-width: 400px) {
	.popup-place__image {
		width: 290px;
		height: 288px;
	}
}
