/* stylelint-disable order/properties-order */

.place__element {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 60px;
	-moz-border-radius: 60px;
	overflow: hidden;
	padding: 16px;
}

@media all and (max-width: 992px) {
	.place__element {
		height: 371px;
	}
}

@media all and (max-width: 744px) {
	.place__element {
		max-width: 594px;
		height: 524px;
	}
}

@media all and (max-width: 480px) {
	.place__element {
		width: 290px;
		height: 255px;
	}
}
