.about__schools-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	box-sizing: border-box;
	padding: 80px 0 80px;
}

@media screen and (max-width: 1080px) {
	.about__schools-container {
		flex-wrap: wrap;
		gap: 0;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 600px) {
	.about__schools-container {
		padding-top: 30px;
	}
}
