.about__schools-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
	gap: 10px;
	box-sizing: border-box;
	padding: 60px 0 80px;
}

@media screen and (max-width: 768px) {
	.about__schools-container {
		grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
		padding: 80px 0 80px;
	}
}

@media screen and (max-width: 480px) {
	.about__schools-container {
		padding-top: 30px;
	}
}
