.burger-button__line-element_active:nth-child(1) {
	top: 4px;
	left: 4px;
	transform: rotate(45deg);
}

.burger-button__line-element_active:nth-child(2) {
	top: 25px;
	left: 4px;
	transform: rotate(-45deg);
}
