.popup__container {
	position: relative;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	justify-items: left;
	box-sizing: border-box;
	max-width: 1200px;
	padding: 30px;
	background: #ffffff;
	border-radius: 60px;
	cursor: default;
	will-change: transform;
	transform: translateY(74%) scale(0);
	opacity: 0;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
