/* stylelint-disable order/properties-order */

.place__element_type_back {
	display: flex;
	background-image: url('../../../../vendor/images/HowToFindAft.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	align-items: flex-end;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}
