.team__container {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, minmax(290px, 393px));
    margin: 0;
    column-gap: 10px;
    padding-top: 80px;
    row-gap: 40px;
    margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .team__container {
        grid-template-columns: repeat(2, 290px);
        
    }
}

@media screen and (max-width: 768px) {
    .team__container {
        row-gap: 30px;
        grid-template-columns: repeat(1, 290px);
    }
}