.courses {
	/* box-sizing: border-box; */
	max-width: 1220px;

	/* padding-top: 120px; */
	padding: 127px 65px 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

@media screen and (max-width: 992px) {
	.courses {
		/* padding-top: 80px; */
		padding: 80px 65px 0;
	}
}

@media screen and (max-width: 768px) {
	.courses {
		/* max-width: calc(100% - 90px); */
		padding: 80px 45px 0;
	}
}

@media screen and (max-width: 480px) {
	.courses {
		padding: 70px 0 0;
		font-size: 16px;
		line-height: 19.5px;
	}
}

/* @media screen and (max-width: 600px) {
	.courses {
		max-width: 100%;
		font-size: 16px;
		line-height: 19.5px;
	}
} */
