.courses {
	box-sizing: border-box;
	max-width: 1220px;
	padding-top: 120px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

@media screen and (max-width: 800px) {
	.courses {
		max-width: calc(100% - 90px);
		padding-top: 80px;
	}
}

@media screen and (max-width: 600px) {
	.courses {
		max-width: 100%;
		font-size: 16px;
		line-height: 19.5px;
	}
}
