.courses {
	box-sizing: border-box;
	max-width: 1220px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}


@media screen and (max-width: 600px) {
	.courses {
		font-size: 16px;
		line-height: 19.5px;
	}
}
