.why-like__item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
	box-sizing: border-box;
	min-width: 1000px;
	min-height: 650px;
	padding: 0 120px;
}

@media screen and (max-width: 768px) {
	.why-like__item {
		justify-content: center;
		gap: 40px;
		min-width: auto;
		min-height: 524px;
		padding: 0 25px;
	}
}

@media screen and (max-width: 480px) {
	.why-like__item {
		/* align-items: flex-start; */
		gap: 30px;
		box-sizing: border-box;
		min-height: 400px;
		padding: 0 25px;
	}
}
