.section-subtitle {
	width: 100%;
	max-width: 1000px;
	margin: 0;
	padding-top: 40px;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -1px;
}

/* @media screen and (max-width: 1080px) {
	.section-subtitle {
		max-width: 595px;
		margin: 0 auto;
	}
} */

@media screen and (max-width: 768px) {
	.section-subtitle {
		font-size: 30px;
		line-height: 37px;
		letter-spacing: -0.5px;
	}
}


@media screen and (max-width: 480px) {
	.section-subtitle {
		padding-top: 20px;
		font-size: 24px;
		line-height: 29px;
	}
}
