.parents {
  margin: 0 0 0 200%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 109px 0 0;
  background-color: #ffffff;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .parents {
    padding-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .parents {
    padding: 30px 15px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
